<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <title>arxiv.io</title>

    <link rel="stylesheet" href="{{ url_for('.static', filename='normalize.css') }}" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('.static', filename='arxiv.css') }}" type="text/css" media="screen" charset="utf-8">

</head>
<body>

    <div class="container">

        <p>
        <strong>Arxiv.io</strong> learns your interests &amp; delivers
        awesome papers to your inbox as frequently or infrequently as you
        want.
        </p>

        <p>
        Enter your email to get started:
        <form id="strt" action="/start" method="post">
            <input id="email-field" type="email" name="email"></input>
        </form>
        </p>

    </div>

    <div class="sign-in-box">
        <div class="sign-in">
            Sign in
        </div>
    </div>

    <div class="container">

        <p class="footer">
        <strong>Arxiv.io</strong> was created by
        <a href="http://danfm.ca">Dan Foreman-Mackey</a>.
        </p>

    </div>

</body>
</html>
