<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <title>{% block title %}arXiv.io{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for("static", filename="normalize.css") }}" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="{{ url_for("static", filename="arxiv.css") }}" type="text/css" media="screen" charset="utf-8">

</head>
<body>

<div class="container">
    <div class="search-bar">
        <form action="{{ url_for('.index') }}">
            <input type="text" class="search-box" placeholder="Search…" name="q" autocomplete="off" value="{{ request.args['q'] }}">
        </form>
    </div>

    <div class="abstracts">
        {% for abstract in abstracts %}
        <div class="abstract">
            <span class="title">
                <a href="{{ url_for('.abstract_view', arxiv_id=abstract.arxiv_id) }}">{{ abstract.title }}</a>
            </span>
            <span class="authors">
                {% for au in abstract.authors[:-1] %}
                <a href="?q=au:'{{ au.author.fullname }}'">{{ au.author.fullname }}</a>,
                {% endfor %}
                <a href="?q=au:'{{ abstract.authors[-1].author.fullname }}'">{{ abstract.authors[-1].author.fullname }}</a>
            </span>
            <span class="categories">
                {% for cat in abstract.categories %}
                <a href="?q=cat:{{ cat.raw }}">{{ cat.raw }}</a>
                {% endfor %}
                <span class="date">
                    <a href="">{{ abstract.updated.strftime('%Y-%m-%d') }}</a>
                </span>
            </span>
        </div>
        {% endfor %}
    </div>
</div>

<script src="{{ url_for("static", filename="jquery-1.10.2.min.js") }}"></script>

<script>

$(function () {
    $.ajax({
        dataType: "json",
        url: "{{ url_for('api.search') }}"+location.search,
        success: function(data) { console.log(data); }
    });
});

</script>

</body>
